body{
    background-color: #f2ff0071;
}

header{
    width: 96%;
    padding: 80px 0px;
    margin: auto;
    background-color: #ff0066;
    text-align: center;
    
}

footer{
    width: 96%;
    padding: 30px 0px;
    margin: auto;
    background-color: #ff0066c6;
    text-align: center;
    
}

/*.box
    height: 300px;
    width: 96%;
    margin-top: auto;
}*/

main{
    width: 66%;
    background-color: #00ffe5b8;
    float: left;
    height: 300px;
    margin: 21px 2.0%;
    line-height: 300px;
    text-align: center;
}

aside{
    width: 27%;
    background-color: #ffae00;
    float: right;
    height: 300px;
    margin: 21px 2% 21px 0px;
    line-height: 300px;
    text-align: center;
}

.fixclear{
    clear: both;
}